[Unit]
Description=rclonemount with %I
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
        --config=.config/rclone/rclone.conf \
        --vfs-cache-mode writes \
        %I: RemoteDrives/%I

ExecStop=/bin/fusermount -u ~/RemoteDrives/%I
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
